* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: white;
  background: rgb(169, 63, 255);
  background: linear-gradient(
    180deg,
    rgba(169, 63, 255, 1) 0%,
    rgba(77, 163, 251, 1) 51%
  );
  /*background: rgb(176, 142, 142);
  background: linear-gradient(
    180deg,
    rgba(176, 142, 142, 1) 0%,
    rgba(132, 173, 221, 1) 80%
  );*/
  font-family: "Raleway", sans-serif;
}

.avatar {
  width: 80px;
  border-radius: 50px;
  border: 3px solid white;
  box-shadow: 0 0 20px white;
}

h1 {
  font-family: "Architects Daughter", cursive;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 2px;
}

h2 {
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 20px;
}
.profile {
  text-align: center;
  margin-top: 20px;
}

.links-list {
  list-style: none;
}

.links-list li {
  margin: 10px 20px;
}

.links-list li a {
  display: block;
  background: white;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 10px white;
}

.links-list li a img {
  width: 20px;
}

.links-list li a spam {
  color: gray;
  display: block;
  color: rgb(88, 43, 204);
}
